body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
  }

 .calculator h1{
  text-align: center;
  color: #fcfafa;
 }  
  .calculator {
    max-width: 300px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  #result {
    
    height: 50px;
    background-color: #444;
    color: #fff;
    font-size: 24px;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: text;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    background-color: #6B0000;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  

  
  button:hover {
    background-color: #8B0000;
  }
  